body{
    background: #545050;
}

.container{
    background-color: #c23d1f;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    min-height: 600px;
}

.app-title{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 30px;
    padding-top: 29px;
    letter-spacing: 1px;
    display: inline-block;
}

  /* Dropdown Button */
.dropbtn {
    background-color: brown;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-left: 400px;
    border-radius: 20px;
    transition: 1s;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: brown;
}

.dropbtn:hover{
    transform: scale(1.1);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 600px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 200px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    min-height: 50px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;} 